@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #2B2D42;
  line-height: 1.6;
  color: #fff;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

h1 {
  min-width: 300px;
}